Repository kevinelliott/agentpipe-web, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, docker, ci/cd, documentation, config, dependencies, tests, types

.github/labeler.yml:

# Labeler configuration for automatic PR labeling based on file paths

# Frontend
"frontend":
  - "app/components/**/*"
  - "app/page.tsx"
  - "app/dashboard/**/*"
  - "app/conversations/**/*"
  - "app/globals.css"

# Backend/API
"backend":
  - "app/api/**/*"
  - "app/lib/**/*"

# Database
"database":
  - "prisma/**/*"

# Docker
"docker":
  - "Dockerfile"
  - "docker-compose.yaml"
  - ".dockerignore"

# CI/CD
"ci/cd":
  - ".github/workflows/**/*"
  - "Makefile"

# Documentation
"documentation":
  - "**/*.md"
  - "docs/**/*"

# Configuration
"config":
  - "package.json"
  - "package-lock.json"
  - "tsconfig.json"
  - "next.config.ts"
  - "tailwind.config.ts"
  - ".env.example"

# Dependencies
"dependencies":
  - "package.json"
  - "package-lock.json"

# Tests
"tests":
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"

# Types
"types":
  - "app/types/**/*"
  - "**/*.d.ts"

Fix TypeScript errors in ConversationCard and SummaryCard
  app/components/conversation/ConversationCard.tsx
  app/components/conversation/SummaryCard.tsx
  app/conversations/page.tsx
Labels: frontend

Fix Docker build error: Downgrade Node.js from 25 to 20-alpine
  Dockerfile
Labels: docker

Upgrade Node.js to version 22 across the project
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .nvmrc
  Dockerfile
  docs/STREAMING_ARCHITECTURE.md
Labels: docker, ci/cd, documentation

Update README with comprehensive project information and badges
  README.md
Labels: documentation

Add Trivy vulnerability scanner workflow
  .github/workflows/trivy.yml
Labels: ci/cd

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: ci/cd

Fix CodeQL security alerts: Command injection and incomplete sanitization
  app/lib/docker.ts
  app/lib/settings.ts
Labels: backend
