Repository kevinelliott/agentpipe-web, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, docker, ci/cd, documentation, config, dependencies, tests, types

.github/labeler.yml:

# Labeler configuration for automatic PR labeling based on file paths

# Frontend
"frontend":
  - "app/components/**/*"
  - "app/page.tsx"
  - "app/dashboard/**/*"
  - "app/conversations/**/*"
  - "app/globals.css"

# Backend/API
"backend":
  - "app/api/**/*"
  - "app/lib/**/*"

# Database
"database":
  - "prisma/**/*"

# Docker
"docker":
  - "Dockerfile"
  - "docker-compose.yaml"
  - ".dockerignore"

# CI/CD
"ci/cd":
  - ".github/workflows/**/*"
  - "Makefile"

# Documentation
"documentation":
  - "**/*.md"
  - "docs/**/*"

# Configuration
"config":
  - "package.json"
  - "package-lock.json"
  - "tsconfig.json"
  - "next.config.ts"
  - "tailwind.config.ts"
  - ".env.example"

# Dependencies
"dependencies":
  - "package.json"
  - "package-lock.json"

# Tests
"tests":
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"

# Types
"types":
  - "app/types/**/*"
  - "**/*.d.ts"

update design system
  CLAUDE.md
  design-system/index.html
Labels: documentation

update CLAUDE requirements
  CLAUDE.md
Labels: documentation

update docker doc
  docs/DOCKER.md
Labels: documentation

improvement
  app/api/conversations/route.ts
  app/lib/docker.ts
Labels: backend

add new agentpipe features
  CLAUDE.md
  app/api/agents/available/route.ts
  app/components/agent/AgentAvatar.tsx
  app/components/agent/AgentBadge.tsx
  app/components/agent/MessageBubble.tsx
  app/components/marketing/SupportedAgents.tsx
  app/conversations/new/page.tsx
  app/globals.css
  app/hooks/useAvailableAgents.ts
Labels: frontend, backend, documentation

Fix build issues and ESLint warnings
  CLAUDE.md
  app/api/ingest/route.ts
  app/components/agent/MessageBubble.tsx
  app/components/layout/Header.tsx
  app/components/theme/ThemeToggle.tsx
  app/components/ui/Toast.tsx
  app/hooks/useRealtimeEvents.ts
  app/sessions/page.tsx
  app/settings/page.tsx
Labels: frontend, backend, documentation

Add Supabase production database setup and deployment guides
  .env.example
  README.md
  docs/DEPLOYMENT.md
  docs/SUPABASE_SETUP.md
  package.json
  prisma/schema.prisma
  scripts/migrate-db.sh
Labels: database, documentation, config, dependencies

Fix SSE infinite reconnection loop in production
  app/hooks/useRealtimeEvents.ts
Labels: none

Add PgBouncer fix and initial database migration
  .env.example
  docs/PGBOUNCER_FIX.md
  package.json
  prisma/migrations/20251022035501_init/migration.sql
  prisma/migrations/migration_lock.toml
Labels: database, documentation, config, dependencies

Release v0.0.2
  CHANGELOG.md
  README.md
  app/api/ingest/route.ts
  app/api/sessions/[id]/route.ts
  app/api/sessions/route.ts
  app/components/conversation/ConversationCard.tsx
  app/components/conversation/SummaryCard.tsx
  app/lib/schemas/streaming.ts
  app/sessions/[id]/page.tsx
  app/sessions/page.tsx
  app/types/index.ts
  package.json
  prisma/schema.prisma
Labels: frontend, backend, database, documentation, config, dependencies, types

Add migration for conversation summary fields
  prisma/migrations/20251022150000_add_conversation_summary/migration.sql
Labels: database

Add migration guide for v0.0.2 database changes
  docs/MIGRATION_GUIDE.md
Labels: documentation

Add Vercel Analytics support
  app/layout.tsx
  package-lock.json
  package.json
Labels: config, dependencies

Add SSE debugging tools and test endpoints
  app/api/debug/sse-status/route.ts
  app/api/test/emit-event/route.ts
Labels: backend

Add comprehensive real-time debugging documentation
  docs/REALTIME_DEBUGGING.md
Labels: documentation

Hide connection.established events by default on Event Stream Debug page
  app/debug/page.tsx
Labels: none

Release v0.0.3
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Support agent_id field from AgentPipe CLI
  app/api/ingest/route.ts
  app/lib/schemas/streaming.ts
Labels: backend

Release v0.0.4
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Release v0.0.5
  CHANGELOG.md
  app/api/conversations/[id]/route.ts
  app/api/conversations/route.ts
  app/api/sessions/[id]/route.ts
  app/api/sessions/route.ts
  app/api/sessions/upload/route.ts
  app/components/agent/AgentAvatar.tsx
  app/components/agent/MessageBubbleSlim.tsx
  app/components/conversation/ConversationMessages.tsx
  app/components/conversation/TurnSeparator.tsx
  app/components/conversation/ViewToggle.tsx
  app/conversations/[id]/page.tsx
  app/conversations/page.tsx
  app/dashboard/page.tsx
  app/globals.css
  app/hooks/useViewMode.ts
  package.json
Labels: frontend, backend, documentation, config, dependencies

Fix: Update 'Sessions' to 'Conversations' title and add Markdown rendering to AI Summary
  app/components/conversation/SummaryCard.tsx
  app/conversations/page.tsx
Labels: frontend

Release v0.0.6
  CHANGELOG.md
  package.json
Labels: documentation, config, dependencies

Add Compact view mode and icon-based ViewToggle
  app/components/agent/MessageBubbleCompact.tsx
  app/components/conversation/ConversationMessages.tsx
  app/components/conversation/ViewToggle.tsx
  app/hooks/useViewMode.ts
Labels: frontend

Release v0.0.7
  app/components/agent/MessageBubble.tsx
  app/components/index.ts
  app/components/metrics/MetricCard.tsx
  app/components/ui/Icon.tsx
  app/components/ui/SectionHeader.tsx
  app/dashboard/page.tsx
  app/hooks/useDebounce.ts
Labels: frontend

Add separate GitHub links with version numbers for agentpipe and agentpipe-web
  app/components/marketing/GitHubLinks.tsx
  app/components/marketing/Hero.tsx
  package.json
Labels: frontend, config, dependencies

Enhance Dashboard with vibrant colors, larger icons, and rich visual design
  app/components/agent/MessageBubble.tsx
  app/components/conversation/ConversationCard.tsx
  app/components/metrics/MetricCard.tsx
  app/components/ui/SectionHeader.tsx
  app/dashboard/page.tsx
  app/globals.css
Labels: frontend

Update Amp CLI links to ampcode.com and correct provider to Sourcegraph
  app/components/marketing/SupportedAgents.tsx
  app/conversations/new/page.tsx
Labels: frontend

Release v0.0.8
  LICENSE
  app/conversations/[id]/page.tsx
  package.json
Labels: frontend, config, dependencies

Make Live Dashboard the primary call to action on front page
  app/components/marketing/GitHubLinks.tsx
Labels: frontend

Fix invalid Docker tag format in GitHub Actions workflow
  .github/workflows/docker-build.yml
Labels: ci/cd

Fix CI workflow: Add DIRECT_URL environment variable for Prisma
  .github/workflows/ci.yml
Labels: ci/cd

Fix CI: Make build and test scripts CI-friendly
  package.json
Labels: config, dependencies

Release v0.0.11
  CHANGELOG.md
  README.md
  package.json
Labels: documentation, config, dependencies

Fix Prisma schema formatting
  prisma/schema.prisma
Labels: database

Update project-summary with comprehensive status review
  docs/project-summary.md
Labels: documentation

Fix: Update Docker build workflow to use ghcr.io instead of Docker Hub
  .github/workflows/docker-build.yml
Labels: ci/cd

Migrate from deprecated next lint to ESLint CLI
  eslint.config.mjs
  package-lock.json
  package.json
Labels: config, dependencies

Fix: Copy prisma schema before npm ci in Docker build
  Dockerfile
Labels: docker

Fix all ESLint warnings and errors
  app/api/agents/available/route.ts
  app/api/agents/doctor/route.ts
  app/api/realtime/stream/route.ts
  app/api/search/route.ts
  app/components/agent/MessageBubbleSlim.tsx
  app/components/conversation/ConversationCard.tsx
  app/components/conversation/SummaryCard.tsx
  app/components/marketing/GitHubLinks.tsx
  app/components/settings/PathInput.tsx
  app/components/theme/ThemeProvider.tsx
  app/conversations/new/page.tsx
  app/conversations/page.tsx
  app/dashboard/page.tsx
  app/debug/page.tsx
  app/lib/docker.ts
  app/lib/settings.ts
  app/settings/page.tsx
Labels: frontend, backend

Fix: Ensure public directory exists in Docker builder stage
  Dockerfile
Labels: docker
